@model dynamic
@{
    ViewBag.Title = "Restaurant";
    Layout = "_Layout";
}

<br/><br/><br/><br/>

<h2>Edit @Model.Restaurant.Name</h2>

<br/>

<h3>Add user to restaurant</h3>
<form method="post">
    <input type="email" id="email" name="email" placeholder="User email"/>
    <input type="submit"/>
</form>

<br/>

<div>
    <h4>Users</h4>
    @foreach (var user in Model.Users)
    {
        <i>@user.Name, @user.Email</i><br/>
    }
    <form method="post" asp-action="LeaveRestaurant">
        <input type="submit" value="Leave restaurant"/>
    </form>
</div>

<br/>

@if (Model != null)
{
    <h3>Edit restaurant details</h3>
    <form method="post" asp-action="UpdateRestaurant">
        <input type="hidden" id="id" name="id" value="@Model.Restaurant.RestaurantId"/>
        <input type="text" id="Name" name="Name" placeholder="Restaurant name" value="@Model.Restaurant.Name"/>
        <input type="text" id="Address" name="Address" placeholder="Address" value="@Model.Restaurant.Address"/>
        <input type="text" id="Email" name="Email" placeholder="Restaurant email" value="@Model.Restaurant.Email"/>
        <input type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Phone number" value="@Model.Restaurant.PhoneNumber"/>
        <input type="submit"/>
    </form>
    
    <br/>
    
    <h3>Edit tables</h3>

    <form method="post" asp-action="UpdateTables">
        <input type="hidden" id="id" name="id" value="@Model.Restaurant.RestaurantId"/>
        <table>
            <tr><td>Seats</td><td>Number of tables</td></tr>
            @for (int i = 1; i < 12 + 1; i++)
            {
                <tr>
                    <td>@i </td>
                    <td><input type="number" id="s_@i" name="s_@i" value="@Model.Tables[i - 1]"/></td>
                </tr>
            }

        </table>
        <input type="submit"/>
    </form>

}


