@model IEnumerable<Restaurant>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<style>
div.container {
width: 100%;
min-height: 100vh;
padding: 5%;
background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url("images/food.jpg");
background-position: center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
</style>

<div class="Header">
    <h1>Restaurant booker</h1>
</div>
 @foreach (var restaurant in Model)
    {
        // Example
        <div class="container">
            <h3>@restaurant.Name</h3>
            @restaurant.Address<br/>
            @restaurant.Email<br/>
            @restaurant.PhoneNumber<br/>
            <a asp-area="" asp-controller="Booking" asp-action="Index" asp-route-id="@restaurant.RestaurantId">Book</a>
        </div><br/>
    }